.text-container {
  width: 800px;
  background-color: gainsboro;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 15px;
  margin: 5% auto;

  text-align: center;
}

.title-container {
  text-align: center;
}

.titleInput {
  height: 25px;
  background-color: gainsboro;
  border: none;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

.titleInput:focus {
  border: none;
  border-radius: 5px;
}

.ql-toolbar {
  margin-top: 10px;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.ql-editor {
  width: 100%;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  min-height: 100px;
}

.ql-editor:focus {
  background-color: #b6b6b6;
  font-weight: bolder;
}

.saveBtn {
  margin-top: 10px;
  background-color: gray;
  color: white;
  transition: background-color 0.3s;
  font-size: 18px;
}

.saveBtn:hover {
  background-color: dimgray;
  cursor: pointer;
}

hr {
  background-image: linear-gradient(to right, #ddd, #aaa);
  width: 60%;
}

@media (max-width: 768px) {
  .ql-editor {
    width: 100%;
  }
}
