/* BlogPost.css */
.blog-post {
  width: 800px; /* Fixed width */
  margin: 20px auto; /* Center the blog post */
  padding: 20px;
  border: 2px solid darkslateblue;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

.blog-post-title {
  margin-top: 0;
  color: #333;
  font-size: 24px;
}

.blog-post-date {
  color: #666;
  font-size: 14px;
  margin-bottom: 20px;
}

.blog-post-image {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.blog-post-content {
  color: #333;
  line-height: 1.6;
}
