.text-container {
  max-width: 1200px; /* Or any other max-width as needed */
  margin: auto; /* Centers the container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ql-container {
  height: 300px; /* Adjust height as needed */
  width: 100%; /* Width is 100% of .text-container */
  border: 1px solid #ccc;
  overflow-y: auto; /* Adds a scrollbar if the content exceeds the height */
}

.ql-toolbar {
  width: 100%; /* Match the width of .ql-container */
  margin-top: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
}

.ql-container {
  border: 1px solid #ccc;
}
